.blog{
    border: 2px solid red;
    border-radius: 30px;
    margin: 10px;
    width: 20%;
    padding: 10px;
    display:inline-block; 
 }
 h3{
   text-align: center;  
 }
 p{
   text-align: justify;  
 }